body{
    margin: 0px;
    text-align: center;
    background-color: #01284d;
 }
 #pic{
     display: block;
   margin-left: auto;
   margin-right: auto;
   width:80%;
 }
 #getbutton {
    margin-top : -10px;
 }
 #white{
   margin: auto;
   color: white;
   text-align: left;
   font-size: 28px;
   font-weight: bold;
   width: 80%;
   background-color: #1E90FF;
 }
 #drop, #droptwo {
    height : 22px;
    font-family : arial;
    font-size : 17px;
 }
 #tablerow{
    text-align : center;
 }
 .main{
    text-align: center;
    width: 80%;
    height:auto;
     background-color: rgb(204, 238, 238);
    margin: 0 auto;   
 }
 #head{
    padding:10px;
    text-align: left;
    font-size: 50px;
    font-family: serif;
 }
 .sub{
    padding-top: 20px;
    width: 90%;
    height:900px;
    background-color: white;
    align-content: center;
 }
 #inp{
    color : blue;
    font-family : Lucida Sans Unicode;
 }
 table {
    border-collapse : collapse;
    width : auto; 
    margin : auto;
    border-width : 10px;
    text-align : left;
    font-family : Lucida Sans Unicode;
 }
 td {
    padding : 8px;
    height : 30px;
    border : 2px solid #ddd;
 }
 .partdropdown {
    height : 22px;
    font-family : arial;
    font-size : 17px;
 } 
 button {
    margin-top : 24px;
    font-size : 15px;
    padding : 2px;
    padding-left : 6px;
    padding-right : 6px;
    margin-bottom : 22px;
 }